@use "../settings/variables" as var;
@use "../settings/placeholders";


.header {
    width: 100hv;
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;

  

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo {
            @extend %logo-style;
        }

        .nav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav__element {
                padding: 0 26px;

                &:last-child {
                    padding-right: 0;
                }

                .nav__link {
                    font-family: var.$font-open-sans;
                    font-size: 11px;
                    letter-spacing: 3.28px;
                    color: var.$color-grey;
                    font-weight: 700;
                    padding: 28px 18px 22px;

                    &:hover {
                        color: var.$color-black;
                        font-weight: 700;
                        border-bottom: 4px solid var.$color-primary;
                    }
                }
                
            }   
        }          
    }
}