@use "../settings/variables" as var;
@use "../settings/placeholders";
@use "../settings/mixins";



.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var.$font-open-sans;

    .pricing__boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .pricing__box {
            
            @extend %pricing-sets;

            .btn {
                @extend %buttons;
                position: absolute;
                bottom: -24px;
                padding: 16px 57px;
                margin-top: 55px;
            }
        }
        
        
        
        .pricing--professional {
            @include mixins.pricing-style(var.$color-primary){
                box-shadow: 5px 1px 27px var.$color-primary
            }
        }
        
        .pricing--basic {
            @include mixins.pricing-style(var.$color-redish);

            .pricing--ammount {
                color: var.$color-redish;
            }

            .btn {
                background-color: var.$color-redish;
            }
        }
        
        
        .pricing--premium {
            @include mixins.pricing-style(var.$color-green);

            .pricing--ammount {
                color: var.$color-green;
            
            }
        }
        .pricing--professional .pricing--ammount {
            color: var.$color-primary;
        }
        
        .pricing--premium .btn{
            background-color: var.$color-green;
        }
        
        .pricing--professional .pricing__item {
            margin-top: 25px;
        }
        .pricing__item {
            margin-top: 20px;
        }
        
        .pricing__item:last-of-type {
            margin-bottom: 80px;
        }
        
        .pricing__item::before {
            content:url(../assets/Ckechmark-1.svg);
            height: 11px;
            width: 11px;
            margin-right: 10px;
        }
        
        .not_include::before {
            content:url(../assets/Close.svg);
            height: 11px;
            width: 11px;
            margin-right: 10px;
        }
        .pricing__items {
            text-align: center;
        }
            
        .pricing--title {
            margin-top: 34px;
            font-family: var.$font-raleway;
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 14px;
        }
        
        .pricing--ammount1{
            margin-bottom: 83px;
        }
        
        .pricing--ammount {
            font-size: 46px;
            font-weight: 300;
            margin-top: 25px;
        }
        .pricing--limit {
            margin-bottom: 51px;
            margin-top: 25px;
        }
        
        .pricing--limit--pro {
            margin-bottom: 61px;
            margin-top: 25px;
        }
        .pricing--main--title {
            font-family: var.$font-raleway;
            font-size: 36px;
        }
    }
}
